.header {
    height: 120px;
    background-image: linear-gradient(#F3452D, #F46031);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--notify:hover  .header__notify {
    display: block;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link  {
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link, 
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link :hover {
    color: rgba(255, 255, 255, 0.7)
} 

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #F68677;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon  {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */

.header__qr {
    width: 180px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.4s;
}

.header__qr::before {
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: -4px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.header__qr-link:first-child {
    margin-left: 9px;
}

.header__qr-link:last-child {
    margin-right: 9px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notify */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    display: none;
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    background-color: rgb(248, 240, 240);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-link:hover {
    background-color: var(--white-color);
    transition: 0.4s;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 1.2rem;
    line-height: 2rem;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 10px 16px;
}



